:root{
    /* defined colours */
    --SLATE: #434455;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --OCEAN: #404BBF;
    --ROBOTO: 'Roboto';
    --RALEWAY: 'Raleway';
}

/* genral styles */

body{
    background-color: white;
    font-family: var(--ROBOTO), sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--SLATE);
}

.list{list-style: none;}
.link{
    text-decoration: none;
    color: inherit;
}
.address{font-style: normal;}

/* HEADER FOOTER */

.logo-header,
.logo-footer{
    color: var(--IRIS);
    font-family: var(--RALEWAY), sans-serif;;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-header .logo-color{color: var(--NAVY-BLUE);}
.logo-footer .logo-color{color: var(--CLOUD);}
.header .link-nav{
    color: var(--NAVY-BLUE);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD);
}

/* SECTIONS DEFAULT */
.section-heading,
.portfolio-heading{
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.heading{
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.header .link-nav:hover,
.header .link-nav:focus,
.header .link-address:hover,
.header .link-address:focus{
    color: var(--OCEAN);
}

.button,
.item-button{
    font-family: var(--ROBOTO), sans-serif;
    cursor: pointer;
}

/* SECTION FIRST */

.studio-section-first{
    background-color: var(--NAVY-BLUE);
    color: white;
}
.main-heading{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
.studio-section-first .button{
    background-color: var(--IRIS);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
}
.studio-section-first .button:hover,
.studio-section-first .button:focus{
    background-color: var(--OCEAN);
}

/* SECTION SECOND */

/* SECTION THIRD */

/* SECTION FOURTH */

.studio-section-fourth{background-color: var(--CLOUD);}
.studio-section-fourth .list-item{background-color: white;}
.studio-section-fourth .item-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}

/* SECTION PORTFOLIO */

.portfolio-section .item-button{
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: var(--CLOUD);
}
.portfolio-section .item-button:hover,
.portfolio-section .item-button:focus{
    color: white;
    background-color: var(--OCEAN);
}
.portfolio-section .sub-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
}